/* Basico */
body{
    background-color: darkgray;
    text-align: center;
    margin: 0;
}
#entry_window, #main_window{
    width: 100%;
    height: 100%
}

/* Comienza asi */
#entry_window { display: block; }
#main_window { display: none; }

/* Pantalla Inicio */
#entry_window button{
    margin-top: 135px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 65px;
    border-radius: 7px;
}
.clicable:hover{
    cursor: pointer;
}
.clicable:active, .clicable:focus{
    outline: 0;
    border: 0;
}
#entry_window span.textoBoton{
    padding: 15px 12px 15px 12px;
}
#entry_window .titulo{
    padding-top: 65px;
}
#entry_window .titulo h1{
    font-family: 'Aclonica';
    color: brown;
    font-size: 50px;
    margin: 0px;
}
#entry_window .titulo h3{
    font-family: 'Aclonica';
    color: rgb(109, 109, 109);
    margin-top: 20px; 
}

/* version actual  **************************************  ACTUALIZAR */
#version{
    position: absolute;
    bottom: 3px;
    right: 7px;
}


/* Comenzamos a diseñar la Pantalla Principal */

/*   Boton de Salida*/
#salir {
    position: absolute;
    bottom: 9px;
    left: 9px;
    height: 25px;
    background:none;
    background-color: rgb(233, 233, 233);
    border: 1px solid gray;
    border-radius: 4px;
}

/* Cartas de Personaje */
#p1 {
    margin-left: 20px;
}
.carta_personaje {
    float: left;
    height: 350px;
    width: 100px;
    background-color: white;
    margin-top: 20px;
    margin-right: 50px;
}

.carta_shadow {
    box-shadow: 0 6px 36px rgba(0,0,0,.30), 0 6px 12px rgba(0,0,0.22);
}

.menu_shadow {
    box-shadow: 0 7px 20px rgba(0,0,0,.30), 0 6px 12px rgba(0,0,0.22);
}

#menu_inferior{
    position: absolute;
    width: 96%;
    height: 30%;
    bottom: 4%;
    left: 2%;
    background-color: white;
}
